.all_teacher{
  margin: 50px 0px;
  text-transform: uppercase;
  transition: 0.5S;
}

.card_img{
  height: 300px;
}

.all_teacher:hover{
  transform: translateY(-10px)
}

.btn{
  width: 100%;
  margin-top: 10px;
}